html{
	 font-family: 'Montserrat', sans-serif;
/*
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
*/
}
#sub-content{
/*
    background:url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: auto;
*/
    background-color: #fff;
    height:100%;
}
#intro{
    color: #3A3A3A;
    padding: 24px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}
#main{
    background-color: #4a4a4a;
    z-index: -1;
}

#header{
   border-bottom:1px solid #FFFFFF;
}
/*.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #eeeeee;
}*/
#header .navbar-brand{
    height:auto;
    padding:0;
    margin:10px 0px !important
}
#header .logo{
    max-width:150px;
}
#header{
    /* border-bottom: 3px solid #3A3A3A; */
}
.menu{
    font-size:18px;
    font-weight:500;
    padding-bottom:11px;
    padding-top:40px
}
.menu>li>a{
    font-size:16px;
    font-weight:500; 
}
.dropdown-menu{
    font-size:14px;
    font-weight:500;
}
.dropdown-menu>li>a:hover{
    background-color: #4a4a4a
}

.navbar{
    background-color: #000; 
    padding-top: 0px;
    margin-bottom: 0;
}

#header .nav .open>a, #header .nav .open>a:focus, #header .nav .open>a:hover {
    background-color: #4a4a4a!important;
/*    color: #f9f9f9!important;*/
}
.profile{
	border-bottom: 3px solid #3A3A3A;
}
.menu-right>li>a{
	font-weight: 600;
	
}
/*--signin-form--*/

.form-body {
    background-color: #6E6E6E;
    padding: 2.2em 2.2em;
    padding-bottom: 1em;
    border-radius: 5px;
    box-shadow: 0 1px 3px #ccc;
    margin: 16px auto;
    
}
.form-body h3 {
    font-size: 1.7em;
    margin-bottom: 1.2em;
    text-align: center
}
.login-form {
/*    margin: 1em 0 2.5em;*/
    
  background-color: #6E6E6E;
  background-image: none;
/*  border: 1px solid #e5e6e7;*/
  border-radius: 1px;
  color:;
  display: block;
  padding: 6px 2 12px;
  font-size: 14px;
}
.form-body input[type="text"], .form-body input[type="password"] {
/*    width: 92%;*/
    padding: 1em 1em 1em 1em;
    font-size: 0.8em;
    margin: 0.5em 0;
    outline: none; 
    border-bottom: 2px;    
	letter-spacing: 1px;
    display: block;
    border: 2px solid #ccc;
}
}
::-webkit-input-placeholder{
	color:#ccc !important;
    text-align: left;
}
.form-body button {
    outline: none;
    padding: 0.9em 0;
    width: 100%;   
    font-size:16px;
    font-weight:500;
    margin-top: 1em;
    border: none;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 2px 1px rgba(28, 28, 29, 0.42);
	border-radius: 22px;
	
}
.home-links{
    text-align: center;
    cursor: pointer;
    background: #2E2E2E;
	border-radius: 10px;
}
.home-links:hover{
    border: 1px solid #2E2E2E;
/*
    color: #fff;
    background: #32B0E0;

    border: 1px solid #4a4a4a;
    transition: .5s all;

	-webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
*/
}
.home-h2{
    color: #3178B0;
    font-weight: bold;
    margin: 30px 0 30px 0;
/*    text-align: center;*/
}
.logout{ 
    margin-top:14px;
    font-weight: normal;
    padding: 0.3em;
    font-size: 14px;
    border: none;
    background-color:#ccc;
    cursor: pointer;
    box-shadow: 0px 2px 1px rgba(28, 28, 29, 0.42);
	border-radius: 22px;
}
.logout:hover{
/*   color: #fff;*/
    border: 1px solid #ccc;
    transition: .5s all;
	-webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all; 
}
.form-body button:hover {
    border: 1px solid black;
    transition: .5s all;
	-webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.form-body p a {
    font-size: 0.875em;
    color: #6e6e6e;
    letter-spacing: 1px;    
}
/*--//signin-form--*/

h5 {
    border-left: 1px dotted #7467b9;
    padding: 0.5em;
}
/*--copyright--*/
#copyright {
/*    margin: 4em;*/
    font-weight: 200;
    padding-bottom: 10px;
}
#copyright a{
    color: #ccc;
}
#copyright a:hover{
    color:#56c8dc;
}
/*--//copyright--*/
#footer {
    height: 100px;
    background-color: #000;
    border-top: 3px solid #3A3A3A;
    color: #FFFFFF;
    padding-top: 5px;
}
#footer .social {
    margin-bottom: 10px;
}
#footer .social a.icon-circle {
    display: inline-block;    
    border-radius: 25px;
    margin: 5px 5px;
/*    border: 4px solid #595959;*/
    padding: 5px;
}
.fb{
    background-color: #3B5998;
}
.tw{
  background-color: #1DA1F2;
}
.gl{
    background-color: #DB4437;
}
.pt{
   background-color: #BD081C;
}

/*---- rants-list -----*/

.list {
	display: block;
    /*flex-wrap: wrap;*/
    margin: 20px 0;
    
}

.list-item {
    box-shadow: 1px 2px 1px #999;
	display: block; 
	padding: 5px;
    margin-bottom: 10px;
	width: 100%;
    height: 200px;
    border-radius: 25px
}

.list-content {
/*	border: 1px solid #eeeeee;*/
	background: #fcfcfc;
	display: block;
	/*flex-direction: column;*/
	padding: 10px 15px;
	width: 100%;
	transition: all 0.2s ease-in-out 0s;
    text-decoration: none;
    max-height: 70%;
}
.list-content a{
    text-decoration: none;
}
	.list-content:hover {
/*		border: 1px solid #bc0333;*/
/*		background: #ffffff;*/
        /*-ms-transform: translateY(5px);*/ /* IE 9 */
        /*-webkit-transform: translateY(5px);*/ /* Safari */
        /*transform: translateY(5px);*/
        }
	
	.list-content h3 { margin-top: 0; }
	/*.list-content p { flex: 1 0 auto; }*/
	.list-content img {
		margin-bottom: 20px;
		max-height: 250px;
	}
	
.list-content.list-ad {
	border: 1px solid transparent;
	background: transparent;
	opacity: 1;
	text-align: center;
}
	.list-content.list-ad:hover {
		border: 1px solid transparent;
		background: transparent;
		opacity: 0.85;
	}
	
.list-content .vid {
	margin-bottom: 20px;
}
.rant-details {
    border: 1px solid #eeeeee;
    background: #ffffff;
    font-size: 18px;
}
.rant-sm {
    padding: 10px 20px;
}
.rant {
    background-color: #f9f9f9;
    border: 0;
    box-shadow: none;
    margin-top: 20px;
    margin-bottom: 0;
}
.rantTitle {
    display: block;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 8px;
    color: #5c3566;
    line-height: 1.2;
    position: relative;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
/* .well-sm {
    padding: 9px;
    border-radius: 3px;
}
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
} */




@media (min-width: 40em)
.list-item {
    width: 50%;
}



/*---- responsive-design -----*/
@media(max-width:1440px){

}
@media(max-width:1366px){

}


@media(max-width:1280px){
/*
h1 {
    font-size: 2.5em;
}
*/

}
@media(max-width:1080px){

}
@media(max-width:1024px){

/*.form-body {
    padding: 3em 2.5em;
}*/
}
@media(max-width:991px){
/*
.form-body {
    padding: 1.7em 1.7em;
}
*/
}
@media(max-width:900px){

}
@media(max-width:800px){
/*
.form-body p a {
    line-height: 1.8em;
}
*/
}
@media(max-width:768px){
    .fh5co-nav .menu-1, .fh5co-nav .menu-2 {
    display: none;
  }
/*
.form-body {
    padding-left:60px;
    padding-right: 60px;
}
*/
}
@media(max-width:736px){

}
@media(max-width:667px){

}
@media(max-width:640px){

}
@media(max-width:600px){

}
@media(max-width:568px){

}
@media(max-width:480px){

/*.form-body input[type="text"], .signin-form input[type="password"] {
    width: 91%;
}
h1 {
    font-size: 2.2em;
}
.form-body {
    padding: 2em 2em;
}
.copyright p {
    font-size: 0.9em;
}*/
}
@media(max-width:414px){
/*.form-body input[type="text"], .form-body input[type="password"] {
    width: 89%;
}
.form-body {
    padding: 2em 1.5em;
}

.form-body h3 {
    margin-bottom: 1em;
}
.form-body {
    margin: 1em 0 1.5em;
}*/
}
@media(max-width:384px){
/*
h1 {
    font-size: 2em;
}
*/
}
@media(max-width:375px){

}
@media(max-width:320px){
/*
h1 {
    font-size: 1.6em;
}
.main {
    width: 89%;
    margin: 1.5em auto;
}
.login-form {
    margin: 1em 0 1.5em;
}
.form-body {
    padding: 1.5em 1.5em;
}
.form-body h3 {
    font-size: 1.5em;
}
.form-body input[type="text"], .form-body input[type="password"] {
    width:88%;
}
.form-body input[type="submit"] {
    padding: 0.7em 0;
    font-size: 0.9em;
}
.form-body p a {
    font-size: 0.9em;
}
.form-body p a {
    line-height: 1.5em;
}
.copyright {
    margin: 1em;
}
*/
}
/*--//responsive-design---*/
