@import url(https://fonts.googleapis.com/css?family=Arvo:400,700);

body{
  background:#ccc;
  padding:50px;
  font:normal normal 100%/1.6em 'Arvo',sans-serif;
}
p{
  line-height:1.5em;
}

.tile-container{
  display:flex;
  flex-wrap:wrap;
  align-items: stretch;
  max-width:2000px;
  width:100%;
  margin:auto;
}
.tile{
  position: relative;
  flex:1 0 350px;
  align-self:stretch;
  box-sizing:border-box;
  max-width:100%;
  overflow:hidden;
  margin:5px;
  padding:40px;
  box-shadow:
    0 0 0 1px #999,
    0 1px 2px #999;
  border-top:8px solid;
  border-radius:5px;
  background:white;
  &-heading{
    font-weight:700;
  }
  &-img{
    margin:-40px -40px 40px;
    img{
      width:100%;
      margin:0;
    }
  }
  &-contents{
    blockquote{
      margin:0;
      font-size:1.5em;
      p{
        position:relative;
        &:before,
        &:after{
          content:'"';
          display:inline-block;
          margin:0 .25em;
          color:#ccc;
        }
      }
    }
  }
  &-sharelinks{
    &-link{
      display: inline-block;
      padding:.5em 20px;
      border-radius:5px;
      color:white;
      background:teal;
      text-decoration:none;
      &:hover{
        background:darken(teal,10%);
      }
    }
  }
  // Extensions
  &:nth-child(odd){
     border-top-color:teal;
  }
  &:nth-child(even){
     border-top-color:wheat;
  }
  &:nth-child(2n+3){
    flex-basis:300px;
  }
  &:nth-child(4n+5){
    flex-basis:450px;
  }
  &--quote{
    .tile-heading{
      display: none;
    }
  }
  // Modifiers
  &:hover{
    .tile-sharelinks{
      //display: block;
    }
  }
}

@media screen and(max-width:500px){
  body{
    padding:20px;
  }
  .tile{
     flex-basis:100% !important;
     max-width:100%;
  }
}